/* GENERAL STYLING */

/* html {

} */

body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(315deg, #a7a7a7, #b2bea7, #bba2a0, #a299aa, #acaca2, #a7a7a7);
  background-size: 1000% 1000%;
  animation: BackgroundGradient 200s ease infinite;
}

#root {
  height: 100%;
}

.app {
  display: inline-block;
  background: #fffffa;
  margin: auto;
  min-height: 100%;
  bottom: 0;
  min-width: 375px;
  max-width: 600px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  font-family: 'Baloo Bhai', cursive;
}

@keyframes BackgroundGradient { 
  0%{background-position: 0% 13%}
  50%{background-position: 100% 88%}
  100%{background-position: 0% 13%}
}

button, input {
  outline: none;
}

.form-divs {
  background: linear-gradient(165deg, #62ebab, #1ea57d);
  box-shadow: 2px 5px 10px rgb(186, 186, 186);
  width: 250px;
  margin: 0 auto;
  margin-bottom: -15px;
  border-radius: 5px;
  padding-bottom: 40px;

}

.form-divs input{
  line-height: 30px;
  font-size: 20px;
  width: 200px;
  margin: 25px 0 0 0;
  background: #fffffa;
  border-radius: 5px;
  padding-left: 3px;
}

.buttons-form-submit {
  margin-top: -20px;
  padding: 0;
  font-size: 24px;
  width: 130px;
  height: 40px;
  border-radius: 80px;
  box-shadow: 2px 5px 10px rgb(186, 186, 186);
  border: none;
  color: #1ea57d;
  font-weight: bold;
  background: #fffffa;
  font-family: 'Baloo Bhai', cursive;
  line-height: 40px;
  transition-property: box-shadow;
  transition-duration: .2s;
  transition-timing-function: linear;
  cursor: pointer;
}

.buttons-form-submit:hover {
  box-shadow: 2px 5px 10px rgb(148, 148, 148);
  transition-property: box-shadow;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.buttons-form-submit:active {
  color: #12684e;
  background: #cececa;
}

.app::-webkit-scrollbar {
  display: none;
}

/* HEADER */

header {
  margin: 0;
  padding: 0;
  background: linear-gradient(165deg, #62ebab, #1ea57d);
  height: 145px;
}

#header-overlay {
  height: 140px;
  background: url(./assets/qwp.png) no-repeat center center;;
  background-size: 300px 100px;
}

#logo {
  display: inline-block;
  font-size: 35px;
  margin: 0;
  padding: 60px 0 0 0;
  color: #fffffa;
}

#logo-link {
  text-decoration: none;
  
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav button {
  background: none;
  border: none;
  padding: 0;
}

nav button, nav p {
  color: #fffffa;
  line-height: 0;
  margin-right: 10px;
}

nav button:hover, nav p:hover {
  cursor: pointer;
}

nav button:active, nav p:active {
  opacity: .5;
}

#nav-username-link {
  text-decoration: none;
}

/* SIGN-IN AND REGISTER */

#login-register-container {
  margin: 70px auto;
}

#login-container, #register-container {
  height: 320px;
}

#login-inputs {
  height: 136px;
}

#register-inputs {
  height: 204px;
}

#button-login-register-switch {
  width: 250px;
  height: 40px;
  border: none;
  background-image: linear-gradient(165deg, #62ebab, #62ebab, #62ebab, #1ea57d, #1ea57d, #1ea57d);
  background-size: 300% 300%;
  background-position: 50% 50%;
  border-radius: 5px;
  padding: 0;
  font-size: 20px;
  color: #fffffa;
  box-shadow: 2px 5px 10px rgb(186, 186, 186);
  font-family: 'Baloo Bhai', cursive;
  line-height: 40px;
  transition-property: background-position;
  transition-duration: .3s;
  transition-timing-function: linear;
}

#button-login-register-switch:hover {
  background-position: 90% 90%;
  transition-property: background-position;
  transition-duration: .3s;
  transition-timing-function: linear;
}

#button-login-register-switch:active {
  background: #12684e;
  color: #cececa;
}

/* USER PAGE */

#button-profile-edit {
  display: block;
  margin: 2px 5px 0 auto;
  background: none;
  border: none;
  padding: 0;
  font-family: 'Baloo Bhai', cursive;
  color: #1ea57d;

}

#button-profile-edit:hover {
  cursor: pointer;
}

#button-profile-edit:active {
  color: #12684e;
}

/* NEW POLL FORM */

#poll-form-container {
  margin-bottom: 40px;
}

#poll-form-header {
  display: inline-block;
  color: #2dc799;
  cursor: pointer;
}

#poll-form-and-add-remove-options-container {
  position: relative;
}

#add-remove-options-container{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
}

#poll-form-header:hover {
  color: #1ea57d;
}

#poll-form-header:active {
  color: #12684e;
}

.add-remove-option-container{
  margin: 7px 10px;
}

.buttons-add-remove-options {
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  border-radius: 100%;
  margin: 0;
  border: 1px solid #178564;
  user-select: none;
  color: #0d4635;
  background: linear-gradient(165deg, #62ebab, #1ea57d);
}

#button-remove-option-grey {
  opacity: .3;
}

#button-remove-option, #button-add-option {
  cursor: pointer;
}

#button-remove-option:active, #button-add-option:active {
  background: #12684e;
  color: #031a13;
}

#poll-form-inputs {
  min-height: 190px;
}

.delete-choice-x {
  opacity: .3;
  margin: 34px 0 0 3px;
  cursor: pointer;
  position: absolute;
  user-select: none;
}

.delete-choice-x:active {
  opacity: .8;
  color: rgb(196, 43, 43);
}

#create-poll-error-message {
  position: absolute;
  top: 0;
}